{
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "globals": {},
  "ecmaFeatures": {
    "jsx": true
  },
  "parser": null,
  "rules": {
    "accessor-pairs": [
      1,
      {
        "getWithoutSet": true,
        "setWithoutGet": true
      }
    ],
    "array-bracket-spacing": [
      2,
      "never"
    ],
    "block-spacing": [
      2,
      "always"
    ],
    "brace-style": 2
  }
}