{
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "globals": {},
  "ecmaFeatures": {
    "jsx": true
  },
  "parser": null,
  "rules": {
    "keyword-spacing": [
      2,
      {
        "before": false, 
        "after": false, 
        "overrides": {
          "else": {"after": true, "before": true},
          "return": {"after": true, "before": false},

        }
      }
    ],
    "comma-spacing": [
      2,
      { "before": false, "after": true } 
    ],
    "no-irregular-whitespace": 2,
    "block-spacing": [
      2,
      "always"
    ],
    "no-spaced-func": 2,
    "array-bracket-spacing": [
      2,
      "never"
    ],
    "no-multi-spaces": 2,
    "no-multiple-empty-lines": 2,
    "no-trailing-spaces": 2,
    "accessor-pairs": [
      1,
      {
        "getWithoutSet": true,
        "setWithoutGet": true
      }
    ],
    "no-mixed-spaces-and-tabs": 2,
    "brace-style": 2,
    "no-regex-spaces": 2,
    "space-infix-ops": 2,
    "space-unary-ops": 2,
    "indent": [
        2,
        2
    ]
  }
}