@import "../var";
@import "bourbon";
@import "neat";
.detail-page{
  @include outer-container;
  width:$solid-width;
  margin-right: auto;
  margin-left: atuo;

  h1{
     font-size: 24px;
     color: #323232;
  }
  h2{
    font-size: 18px;
    color: #323232;
  }

}

hr.detail{
  border: 0;
  border-bottom: 1px dashed #ccc;
  background: #fff;
  width: 100%;
  margin: 30px 0px 30px 0px;
}

.dtail-description{

}

.project-detail-box {
  background-color: white;
  box-shadow: 0 0 0 1px #c8c8c8;
  @include span-columns(3);
  @include omega(4n);

  border-radius: 8px;
  margin-bottom: 20px;
  padding-bottom:20px;
  position:relative;
  //固定幅
  width:250px;
  height:300px;
  //animation
  transition: 0.1s ease-in-out;
  hr{
    border: 0;
    border-bottom: 1px dashed #ccc;
    background: #fff;
    width:90%;
  }
}
