@import "../var.scss";
@import "bourbon";
@import "neat";

.editproject{
  @include outer-container;
  margin-right: auto;
  margin-left: auto;
  width:$solid-width;

  hr{
    border: 0;
    border-bottom: 1px dashed #ccc;
    background: #fff;
    width: 100%;
    margin: 30px 0px 30px 0px;
  }

  h1{
    font-size: 24px;
    color: #323232;
  }

}

.btn{
  font-size: 12px;
  font-weight:bold;
  margin-top:10px;
  padding:10px 30px;
  background-color: $white;
  border-radius: 3px;
  color:#fff;
  border-style: none;
}
.btn:hover{
  background-color: $hover-color;
  color:#fff;
}

.edit-pic{
  img{
    margin-right:14px;
    margin-bottom:10px;
    border-radius: 3px;
    width:200px;
    height:126px;
  }
  img:hover{
    border-color: $hover-color;
    box-shadow: 0 0 0 3px #FF8F8F
  }
  img:checked{
    border-color: $hover-color;
    box-shadow: 0 0 0 8px #FF8F8F
  }
}

  .edit-thumb{
    img:active{
      -webkit-filter: grayscale(100%);
    }
}

input {
  padding : 0;
  margin : 0;

}

.form-box {
  font-size : 20pt;
  width:$ct-width * 0.7;
  margin: 0 auto;
}

.form-title {
  text-align : center;
  width:100%;
  font-size:30pt;
}

.form-text {
  width:100%;
  font-size:100%;
  margin-top:10px;
}

.form-select {
  font-size:100%;
  @include base-font;
}

.field {
  margin-bottom : 30px;
}

.actions  {
    width: 300px;
    height: 50px;
    margin: 0 auto;
    input {
      width:100%;
      height:100%;
      font-size:100%;
      border-radius:10px;
      box-shadow: inset 0 0 1em $white;
    }
}

.pdf {
  width:10%;
  display : block;
  margin : 0 auto;
  margin-bottom:30px;
  img {
    width:100%;
  }
}
