// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "../var";
@import "bourbon";
@import "neat";

body {

  @include base-font;
}

.filter {
 width:100%;
 height: 100%;
 position:fixed;
 background-color:rgba(0,0,0,0.7);
 top:0px;
 left:0px;

 .box {
    @include outer-container;
    padding-top:130px;
   .box-title {
      @include span-columns(6); 
      @include shift(3);
      font-size: 35pt;
   }
   .box-close {
      @include span-columns(2); 
      font-size: 25pt;
      cursor:pointer;
   }
   .box-desc {
      @include span-columns(6); 
      @include shift(3);  
      font-size: 15pt;
   }
   .box-img{
      transform:rotateZ(180deg);
      @include span-columns(6); 
      @include shift(3);  
      margin-top:20px;
      margin-bottom:40px;
   }
 }
}


.thumbnail {
  width: $thumb-width;
  height: $thumb-height;
  margin: 10px auto;
}

.thumbnail img {
  transform: rotateZ(180deg);
  width: 100%;
}
#status-icon {
    width:20%;
    position:absolute;
    top:0;
    right:0;
}

.projects {
 @include outer-container;
  margin:20px auto;
  width: $ct-width;
  color: $black;
}
.selected-project {
  background-color: $selected-color;
}
.project {
  background-color: $white;
}
.project-box {


  @include span-columns(3);
  @include omega(4n);

  border-radius: 4px;
  margin-bottom: 20px;
  padding-bottom:20px;
  position:relative;
}
.project-box:hover {
  background-color: $hover-color;
}
.project-name {
  font-size:17pt;
  margin-left:$thumb-pad;
  margin-bottom:5px;
}
.date {
  width: 40%;
  float: left;
  margin-left:10%;
}
.user-icon {
  float: left;
  width:$avatar-length;
  height:$avatar-length;
  margin-left:$thumb-pad;
  margin-right:5px;
}
.username {
  float: left;
  width: 60%;
  color:$username-color;
  overflow: auto;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.user {
  float: left;
  width: 50%;
}
a:active,
a:visited,
a:link {
  color: $white;
  text-decoration: none;
}
a:hover {
  color: $brown;
  text-decoration: none;
}

.signIn {
 cursor:pointer;
}
.user {
  text-align: right;
}
ul.actions {
  position:absolute;
  top: 0px;
  left:16px;
  padding:0px;
  margin:10px;
  width:$thumb-width;
  height:0px;

  .selected-action {
    a {
    color: $selected-color ;
    }
  }

  .action {
    a {
      color:$white;
    }
  }
  .action-box {
    background-color: $tp-black;
    list-style: none;
    height: $action-height;
    margin-bottom:1px;
    img {
      width:$action-height * 0.8;
      margin:  $action-height * 0.1;
    }
    a {
      position:absolute;
      margin-top:$action-height * 0.2;
    }
  }
  .delete {
    a {
      color: $red;
   }
  }
}
.hide {
  display: none;
}
