div.editproject
  h1 EditProject
  hr
  - var contents = this.getImage();
  div.edit-pic
    - for(var i in contents.content_array)
      EditContent(act=contents.figure_id[i] src=contents.figure[i]) 
    
      
