div
  h1 Frame
  ul
    li
      Link(to="manager") Project
    li  
      Link(to="player") Player
    li  
      Link(to="index") Show All Projects
    li  
      Link(to="create") CreateProject
    li  
      Link(to="edit") editProject
    li  
      Link(to="project") ProjectDetail

  RouteHandler
