div
  .debug-frame
    h1 Routing Test
    ul
      li
        Link(to="manager") Project
      li  
        Link(to="player" params={projectId : 1}) Player
      li  
        Link(to="index") Show All Projects
      li  
        Link(to="create") CreateProject
      li  
        Link(to="edit" params={projectId : 0}) editProject
      li  
        Link(to="project" params={projectId : 0}) ProjectDetail

  RouteHandler
