//Player画面のhtmlです。
//画像だけなのでcanvasなのかな
div 
  canvas(ref="mainCanvas")
  //- if((!this.state.shooting) && (this.state.uploadQueue.length > 0))
    table.upload-queue
      tbody
        tr 
          th status
          th name
          th symbol
        - for( var i in this.state.uploadQueue )
          tr 
            td
              = this.state.uploadQueue[i].status
            td 
              = this.state.uploadQueue[i].name
            td 
              = this.state.uploadQueue[i].sym
