h1 Hello Player
h1 
  = this.context.router.getCurrentParams().projectId
p hogehoge
  form
    input(type="file" onChange=this.handleFile)
    input(type="submit" onClick=this.handleSubmit)
  canvas(ref="mainCanvas")
