div.detail-page 
  h1 ProjectDetail
  hr.detail
  div.dtail-description
    - var project = this.getProjectDetail();
    div.project-detail-box
      .thumbnail
        img(src=project.thumb) 
      h2.project-name
        = project.name
      hr
      .box
        img.user-icon(src=project.usericon)
        .username
          //= this.props.project.user.nickname
          = project.username
        .date
          = project.date
    h1 Description
    p
    = project.description 
