div(className="project-box " + (this.props.isSelected  ? "selected-project" : "project"))
  .thumbnail
    img(src="")
  .project-name
    = this.props.project.name
  .box
    img.user-icon(src="")
    .username
      | username
    .date.
      | date
  ul.actions.hide
