//画像に表示されるメニュー
div(
  className="project-box " + (this.props.isSelected  ? "selected-project" : "project")
  onClick=this.handleClick
  )
  .thumbnail
    img(src=this.getThumbnailSrc()) 
  h1.project-name
    = this.props.project.name
  hr
  .box
    img.user-icon(src=this.getUserIconSrc())
    .username
      = this.props.project.user.nickname
    .date
      = this.getUploadDate()
    .description
      = this.getDescription()


  - if( this.props.isOpenMenu )
    ul.actions
      li(className="action-box "+(this.props.menuIndex == 0 ? "selected-action" : "action"))
        img(src="/images/p_play.png")
        | Play
      li(className="action-box "+(this.props.menuIndex == 1 ? "selected-action" : "action"))
        img(src="/images/p_record.png")
        | Record
      li(className="action-box "+(this.props.menuIndex == 2 ? "selected-action" : "action"))
        img(src="/images/p_detail.png")
        | Detail
      li(className="action-box "+(this.props.menuIndex == 3 ? "selected-action" : "action"))
        img(src="/images/p_edit.png")
        | Edit
      li(className="action-box "+(this.props.menuIndex == 4 ? "selected-action" : "action"))
        img(src="/images/p_delete.png")
        | Delete
