div(
  className="project-box " + (this.props.isSelected  ? "selected-project" : "project") 
  onClick=this.handleClick
  )
  .thumbnail
    img(src=this.getThumbnailSrc())
  .project-name
    = this.props.project.name
  .box
    img.user-icon(src=this.getUserIconSrc())
    .username
      | username
    .date
      | date
  ul.actions.hide
