div(
  className="project-box " + (this.props.isSelected  ? "selected-project" : "project") 
  onClick=this.handleClick
  )
  .thumbnail
    img(src=this.getThumbnailSrc())
  .project-name
    = this.props.project.name
  .box
    img.user-icon(src=this.getUserIconSrc())
    .username
      = this.props.project.user.email.replace(/@.*$/,"")
    .date
      = this.props.isOpenMenu.toString()
  - if( this.props.isOpenMenu )
    ul.actions
      li.action-box.action 
        img(src="/images/p_play.png")
        | Play
      li.action-box.action 
        img(src="/images/p_record.png")
        | Record
      li.action-box.action 
        img(src="/images/p_detail.png")
        | Detail
      li.action-box.action
        img(src="/images/p_edit.png")
        | Edit
      li.action-box.action
        img(src="/images/p_delete.png")
        | Delete
