div(className={"project-box " + (this.props.isSelected  ? "selected-project" : "project")})
  .thumbnail
    img(src={this.getThumbnailSrc()})
  .project-name
      {this.props.project.project_name} 
  .box
    img.user-icon(src={this.getUserIconSrc())
    .username
      {this.props.project.user.name}
    .date
      {this.props.project.updated_at} 
  ul.actions.hide
