p "HOME"
== link_to (image_tag "persona-button.png", :class => "persona-login-button"), '#'

javascript:
  $(".persona-login-button").click(function(e) {
    e.preventDefault();

    navigator.id.get(function(assertion) {
      if (assertion) {
        $.ajax({
          url: '/api/v1/auth/sign_in',
          type: "POST",
          dataType: "json",
          cache: false,
          data: {
            "assertion": assertion
          },
          success: function(data, status) {
            // window.location.href = '/';
          },
        });
      }
    });
  });
