// common
$black : #231815;
$brown : #966432;
$white : #EFEFEF;
$tp-black :rgba(54, 48, 48, 0.8);
$tp-red :rgba(188, 2, 2, 0.8);
$red : #FF1B00;
$selected-color : #F5BE17;
$hover-color:#E1B22B;
$username-color : #3B6ACE;
@font-face{
    font-family : "ArialRoundedMTBoldBold";
    font-style: normal;
    font-weight: normal;
    src:url("/fonts/ArialRoundedMTBoldBold.ttf") format('truetype');
  }
  @mixin base-font {
    font-family : "ArialRoundedMTBoldBold";
}

// project list

$ct-width : 80%;
$thumb-width : 200px;
$thumb-height: 200px * 0.7487;
$belt-height : 28px;
$action-height: ($thumb-height - 5px) / 5;
$avatar-length: 40px;
$thumb-pad  : 20px;
